/* stylesheet voor webprogrammeren project*/

.inloggen {
    max-width: 330px;
}

#loginForm {
    padding: 15px;
    min-width:300px;
}

#login {
    margin-right: 1em;
}

.dropdown-menu {
    min-width: 215px;
}

.header {
    margin-bottom: 10px;
}

body {
  /* Margin bottom gelijk aan hoogte footer */
  margin-bottom: 100px;
  min-height: 2000px;
  padding-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* hoogte van de footer */
  height: 100px;
  background-color: #f5f5f5;
}

#map {
    height: 400px;
    width: 100%;
}

.input-group input {
    max-width: 3em;
}

.red {
    color: red;
}

.filterable .panel-heading .pull-right {
    margin-top: -20px;
}

.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

/*div.filterable {

}*/

div.caption p {
    min-height: 80px;
}
