/* stylesheet voor webprogrammeren project*/

.inloggen {
    max-width: 330px;
}

#loginForm {
    padding: 15px;
    min-width:300px;
}

.header {
    margin-bottom: 10px;
}

body {
  /* Margin bottom gelijk aan hoogte footer */
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* hoogte van de footer */
  height: 100px;
  background-color: #f5f5f5;
}